[submodule "3rd_party/SFML"]
	path = 3rd_party/SFML
	url = https://github.com/SFML/SFML.git
	branch = master
	ignore  = untracked
[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd_party/imgui-sfml"]
	path = 3rd_party/imgui-sfml
	url = https://github.com/SFML/imgui-sfml.git
[submodule "3rd_party/nlohmann_json"]
	path = 3rd_party/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "3rd_party/TGUI"]
	path = 3rd_party/TGUI
	url = https://github.com/texus/TGUI.git
[submodule "3rd_party/ImGuiFileDialog"]
	path = 3rd_party/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "3rd_party/box2d"]
	path = 3rd_party/box2d
	url = https://github.com/erincatto/box2d.git
